.v-riple-container {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    /* background: #FF000011; */
    top: 0;
    left: 0;
}

.v-riple-animate {
    pointer-events: none;
    /* background: rgba(0, 0, 0, 0.2); */
    background-repeat: no-repeat;
    position: absolute;
    /* left: 70%;
    top: 70%;
    transform: translate(-50%, -50%); */
    border-radius: 50%;
    /* transition-duration: 0.3s; */
    transition-property: all;
    /* transition: all .3s; */
    /* transform: scale(0, 0);
    opacity: .3;
    transition: 0s; */
}

.active .v-riple-animate {
    pointer-events: none;
    opacity: 0;
    transform: scale(20);
}